.app-title {
    margin: 10px 0 0 30px;
    font-size: 1.6em;
    font-weight: 700;
}

.search-bar {
    margin: 20px 10px 10px 30px;
    padding: 5px;
    border: solid var(--yellow) 2px;
    width: 770px;
    border-radius: 5px;
    font-size: 1.3em;
}

.selects-container {
    margin: 0 0 10px 30px;
    display: flex;
    width: 770px;
}

select.selector-box {
    font-size: 1.1em;
    margin-top: 5px;
}

/*.one-selector-title {
  }*/

.cards {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.one-card ul {
    list-style-type: none;
}

.one-card li:nth-child(n+2) {
    padding-left: 10px;
    line-height: 150%;
    overflow-wrap: break-word;
}

.one-card {
    display: block;
    position: relative;
    margin: 10px 0 0 30px;
    padding: 10px 10px 10px 30px;
    width: 370px;
    background-color: var(--white-90pc);
}

.card-image {
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--yellow-50pc);
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.no-results {
    margin-left: 30px;
}